@font-face {
    font-family: 'BilboINC_Regular';
    src:    url('BilboINC-Regular_web.eot');
    src:    url('BilboINC-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('BilboINC-Regular_web.woff') format('woff'),
            url('BilboINC-Regular_web.woff2') format('woff2'),
            url('BilboINC-Regular_web.ttf') format('truetype'),
            url('BilboINC-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
